@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {

/* Colors */

/* Primary */

--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

/* Neutral*/

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);


/* Font family */
--font-Fraunces: 'Fraunces', serif;
--font-Montserrat: 'Montserrat', sans-serif;

}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline; }

 /* HTML5 display-role reset for older browsers */
article , aside , details , figcaption , figure , 
footer , header , hgroup , menu , nav , section {  
	display: block; }

html {
    box-sizing: border-box;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body { 
    line-height: 1;
    font-family: var(--font-Montserrat);
    font-size: 14px;
}


 ol , ul { list-style: none; }

 blockquote , q { quotes: none; }

 blockquote :before , blockquote :after { content : '' ; content : none ; }

 q :before , q :after { content : '' ; content : none ; }

 table { border-collapse: collapse; border-spacing: 0;}

 /* media query for mobile device*/

 @media only screen and (max-width: 375px) {

    body {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--Cream);
        height: 100%;
        /* max-width: 375px; */
        padding-bottom: 35px;
    }

    .image-container {
 
        padding: 1em 1.2em;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 0.8em;
        border-top-right-radius: 0.8em;
    }

    .text-container {
        background-color: var(--White);
        text-align: left;
        padding: 1em 2em;
        margin: -1em 1.2em;
    }

    .text-container h1 {
        text-transform: uppercase;
        color: var(--Dark-grayish-blue);
        letter-spacing: 0.3em;
        font-size: 0.8em;
    }

    .text-container h2 {
        margin-top: 0.5em;
        font-family: var(--font-Fraunces);
        font-style: bold;
        font-size: 2em;
    }

    .text-container p {
        margin-top: 0.5em;
        color: var(--Dark-grayish-blue);
        line-height: 1.5;
    }


     .add-cart button{
        background-color: var(--Dark-cyan);
        color: var(--White);
        padding: 1em;
        border: none;
        border-radius: 0.5em;
        width: 100%;
        margin: 0.5em 0;
    }

    #price {
        display: flex;
        justify-content:left;
        margin-left: -25px;
        margin-top: 0.8em;
    }

    #price p {
        font-size: 25px;
        font-family: var(--font-Fraunces);
        text-align: left;
        color: var(--Dark-cyan);
    }

    #price small {
        color: var(--Dark-grayish-blue);
        margin-left: 0;
    }

    #price > * {
        margin: auto 1em;
    }

    

  }