@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {


--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);


/* Font family */
--font-Fraunces: 'Fraunces', serif;
--font-Montserrat: 'Montserrat', sans-serif;

--font-500: '500';
--font-700: '700';

font-size: 14px;

}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline; }

 /* HTML5 display-role reset for older browsers */
article , aside , details , figcaption , figure , 
footer , header , hgroup , menu , nav , section {  
	display: block; }

html {
    box-sizing: border-box;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}


 ol , ul { list-style: none; }

 blockquote , q { quotes: none; }

 blockquote :before , blockquote :after { content : '' ; content : none ; }

 q :before , q :after { content : '' ; content : none ; }

 table { border-collapse: collapse; border-spacing: 0;}

 body { 
    line-height: 1;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 1rem;
}

#image-container {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}

#text-price-container {
    border-radius: 0 0 1rem 1rem;
}


main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.2rem;
    width: 400px;
}

h1 {
    font-size: 2.25rem;
    font-family: var(--font-Fraunces);
    font-weight: var(--font-700);
    color: var(--Very-dark-blue);
}

h2 {
    color: var(--Dark-cyan);
    font-size: 2.25rem;
    font-family: var(--font-Fraunces);
    font-weight: var(--font-700);
}

article span, article p {
    font-size: var(--font-Montserrat);
}

small, p, article span {
    color: var(--Dark-grayish-blue);
}

article span {
    text-transform: uppercase;
}

button {
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-family: var(--font-Montserrat);
    font-weight: var(--font-700);
    border-radius: 0.5rem;
    padding: 1.5rem 8rem;
    margin: auto;
    border: none;
    cursor: pointer;
}

button span {
    color: var(--white);
    font-weight: var(--font-700);
    text-transform: capitalize;
}



#text-container , #price-container {
    background-color: var(--White);
}

#text-container, #price-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    letter-spacing: 0.05rem;
}

#text-container p {
    line-height: 2;
}

#price-container {
    margin-top: -2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#price-container small {
    text-decoration-line: line-through;
}

#price-container section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 750px){

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        padding: 0.8rem;
        margin: auto;
    }

    #image-container {
        background-image: url(./images/image-product-desktop.jpg);
        border-radius: 1rem 0 0 1rem;
    
    }

    #text-price-container {
        border-radius: 0 1rem 1rem 0;
    }

    #image-container, #text-price-container {
        width: 325px;
        height: 100%;
    }

    h1 {
        font-size: 3re;
        font-weight: var(--font-700);
    }

    button {
        background-color: var(--Dark-cyan);
        color: var(--White);
        font-family: var(--font-Montserrat);
        font-weight: var(--font-700);
        border-radius: 0.5rem;
        padding: 1rem 6rem;
        margin: auto;
        border: none;
        cursor: pointer;
    }



}
